/* width */
::-webkit-scrollbar {
    width: 0.1rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: hsl(0, 0%, 12%)
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 12%)
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 12%);
  }
  
  ::-moz-selection {
    /* Code for Firefox */
    color: #050c0f;
    background: hsl(0, 0%, 12%);
  }yyo
  ::selection {
    color: #050c0f;
    background: hsl(0, 0%, 12%);
  }
  
  * {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }
  